
name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    
      working-directory:./example-app

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"

    -  name: Install Poetry Action
       uses: snok/install-poetry@v1.3.4
       with:
         version: latest
         virtualenvs-create: true
         virtualenvs-in-project: false
         installer-parallel: true
         
    - name: Poetry Install
      run: 
          poetry install --no-root
  
    - name: Poetry Test1
      run: 
          poetry run task test
    - name: Poetry lint1
      run:
          poetry run task lint
    - name: Poetry security1
      run:
          poetry run task security
    
  
    - name: Test with pytest
      run: |
        pytest


   
  
  
